<div>
  <div class="col-md-3">
    <div id="nav">
      {{#each stories}}
        <div class="story">
          <a href="/page/{{id}}/0">
            <img src="/images/stories/{{id}}.png" />
          </a>
          {{#if active}}
            <ol class="pageNav">
              {{#each pages}}
                <li>
                  <a href="/page/{{../id}}/{{id}}">{{label}}</a>
                </li>
              {{/each}}
            </ol>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
  <div class="col-md-6">
    <div id="comic">
      <img src="/images/pages/{{story.id}}/{{page.id}}.png" alt="Page {{page.id}}" />
    </div>
  </div>
  <div id="comments" class="col-md-3">
    {{#each page.comments}}
      <ul>
        {{#each this}}<li>{{this}}</li>{{/each}}
      </ul>
    {{/each}}
  </div>
</div>
