<div>
  <div id="stories">
    <h2>Pick a story</h2>
    {{#each stories}}
      <div class="story">
        <div class="title">{{label}}</div>
        <a href="/page/{{id}}/0">
          <img src="/images/stories/{{id}}.png" />
        </a>
      </div>
    {{/each}}
  </div>
  {{#each stories}}
    {{#if active}}
      {{#each pages}}
        <div class="page">
          <div class="col-md-9">
            <div>
              <img src="/images/pages/{{../id}}/{{id}}.png" alt="Page {{id}}" />
            </div>
          </div>
          <div id="comments" class="col-md-3">
            {{#each comments}}
              <ul>
                {{#each this}}<li>{{this}}</li>{{/each}}
              </ul>
            {{/each}}
          </div>
        </div>
      {{/each}}
    {{/if}}
  {{/each}}
</div>
