<div>
  <div id="stories">
    {{#each stories}}
      <div class="story">
        <div class="chapterTitle">{{chapter}}</div>
        <div class="title">{{label}}</div>
        <a href="/page/{{id}}/0">
          <img src="/images/stories/{{id}}.png" />
        </a>
      </div>
    {{/each}}
  </div>
  {{#each stories}}
    {{#if active}}
      <h3 class="comicHeader">{{chapter}}: {{label}}</h3>
      {{#each pages}}
        <div class="page">
          <div class="col-md-8">
            <div>
              <img class="comic" src="/images/pages/{{../id}}/{{id}}.png" alt="Page {{id}}" />
            </div>
          </div>
          <div id="comments" class="col-md-4">
            {{#each comments}}
              <ul>
                {{#each this}}
                  <div class="comment">
                    <div class="media">
                      <div class="pull-left">
                        <img class="media-object" src="/images/avatars/{{author}}.png" alt="{{author}} avatar" />
                      </div>
                      <div class="media-body">
                        <div>{{content}}</div>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </ul>
            {{/each}}
          </div>
        </div>
      {{/each}}
    {{/if}}
  {{/each}}
</div>
